@import url('https://fonts.googleapis.com/css?family=Anton');

.navbar-nav {
    display: flex;
    align-items: center;
  }

h1 {
  font-family:'Anton', serif;
}  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    /* Other header styles */
  }
  
  .header-photo {
    text-align: center; /* Center the photo horizontally */
    margin-bottom: 20px; /* Add spacing between photo and other content */
  }
  
  .header-photo img {
    max-width: 100px; /* Ensure the image doesn't exceed the container width */
  }


.portfolio-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px; 
}

.portfolio-cards {
  width: calc(50% - 10px); 
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
}

.portfolio-card-title {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.portfolio-card-description {
  margin-top: 10px;
  color: black;

}

.btn {
  background-color: darkgreen;
  border-color: gray;
}


