

.navbar-nav {
    display: flex;
    align-items: center;
  }


.portfolio-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px; 
}

.portfolio-cards {
  width: calc(50% - 10px); 
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
}

.portfolio-card-title {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.portfolio-card-description {
  margin-top: 10px;
  color: black;

}

.btn {
  background-color: green;
  border-color: green;
}


